Repository TundraSoft/TundraLibs, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, crypt, id, utils

Fix formatting and linting
  deno.json
  utils/deno.json
Labels: utils

Update sonarcube
  .github/workflows/test.yaml
Labels: none

Try different sonar config
  .github/workflows/test.yaml
Labels: none

feat(utils): Add BaseError class
  .github/workflows/test.yaml
  id/deno.json
  id/simpleID.test.ts
  id/simpleID.ts
  sonar-project.properties
  utils/BaseError.test.ts
  utils/BaseError.ts
  utils/Events.test.ts
  utils/Options.test.ts
  utils/deno.json
  utils/mod.ts
  utils/syslog.ts
Labels: id, utils

Update OTP to sha-256 as default
  crypt/OTP.ts
Labels: crypt

remove keyGenerator
  crypt/keyGenerator.bench.ts
  crypt/keyGenerator.test.ts
  crypt/keyGenerator.ts
Labels: crypt

.github/labeler.yml:

workflows:
  - changed-files:
      - any-glob-to-any-file: .github/*
      - any-glob-to-any-file: .vscode/*
crypt:
  - changed-files:
      - any-glob-to-any-file: crypt/*
id:
  - changed-files:
      - any-glob-to-any-file: id/*
utils:
  - changed-files:
      - any-glob-to-any-file: utils/*
